.button {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    background-color: $secondary-color;
    cursor: pointer;
    min-width: 180px;
    font-family: $montserrat;
}