.hero__image-wrapper {
  overflow: hidden;
}

.hero__image-list {
  padding: 0;
  margin: 0;
}

.hero__image-item {
  list-style-type: none;
  display: flex;
  position: relative;
  padding: 144px 15px 40px;
  min-height: 568px;
}

.hero__image-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero__image-text h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.hero__image-text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 61px;
}

.hero__image-button {
  align-self: center;
  width: 180px;
}

.hero__image-label {
  display: none;
}

.hero__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero .hero__container .hero__pagination{
  bottom: -95px;
}

.hero__pagination {
  display: flex;
  column-gap: 20px;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-self: end;
  height: 20px;
  margin-bottom: 32px;
}

.hero__pagination-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px #ffffff solid;
  display: block;
}

.hero__pagination-button-active {
  background-color: #ffffff;
  transition: ease 0.5s;
}

@media (min-width: $tablet-width) {
  .hero__container {
    position: relative;
  }
  .hero__image-item {
    min-height: 1034px;
    padding: 342px 40px 40px;
  }

  .hero__image-text h1 {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 13px;
  }

  .hero__image-text p {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding: 0 55px;
    margin-bottom: 37px;
  }

  .hero .hero__container .hero__pagination{
    top: -60px;
  }

  .hero__pagination-button {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .hero__image-item {
    min-height: unset;
    padding: 200px 120px 80px;
    min-height: 800px;
  }
  .hero__image-text h1 {
    font-size: 77px;
    line-height: 77px;
    text-align: start;
    width: 944px;
    margin-bottom: 23px;
  }

  .hero__image-text p {
   text-align: start;
   padding: 0;
   width: 464px;
  }

  .hero__image-button {
    align-self: start;
  }

  .hero__image-label-container {
    display: flex;
    column-gap: 10px;
    margin-top: auto;
  }

  .hero__image-label {
    display: flex;
    padding: 14px 20px;
    outline: 1px rgba(255, 255, 255, 0.50) solid;
    outline-offset: -1px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    column-gap: 8px;
  }

  .hero__image-label::before {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    align-self: center;
  }

  .hero__image-label--duration::before {
    background-image: url("/__spritemap#sprite-duration-icon-view");
    content: "";
    display: block;
  }

  .hero__image-label--difficult::before {
    background-image: url("/__spritemap#sprite-difficult-icon-view");
    content: "";
    display: block;
  }

  .hero__pagination {
    margin-bottom: 84px;
    margin-right: 95px;
    justify-self: end;
    right: 0;
    width: 150px;
  }
}
