.instructor-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 15px;
  outline: 1px rgba(2, 102, 193, 0.10) solid;
  outline-offset: -1px;
}

.instructor-card__image {
  object-fit: cover;
  display: block;
}

.instructor-card__info-wrapper {
  display: grid;
  row-gap: 14px;
}

.instructor-card__info-wrapper h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
}

.instructor-card__info-wrapper p {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.instructor-card__info-link {
  border: 1px solid $primary-color;
}

